* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;              /* ativa o flexbox */
    justify-content: center;    /* centraliza na horizontal */
    align-items: center;        /* centraliza na vertical */
    height: 100vh; 
    background-color: #6C7A89;
}

.box {
    background: #f9f9f9;        /* cor de fundo só pra destacar */
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;         /* centraliza o texto dentro da box */
}