h1 {
    border-bottom-style: inset;
}

pre {
    font-size: 1.2em;
}

.normal {
    float: left;
    height: 300px;
    width: 300px
}

span {
    margin-left: 70px;
}

select {
    width: 150px;
}

.detalhes {
    width: 300px;
}

.oculta {
    display: none;
}

.exibe {
    display: inline;
}